.card {
  position: relative;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 32px;
  color: white;
  overflow: hidden;
  justify-content: center;
  font-size: 22px;
}
.overview {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  white-space: normal; 
}
